body {
    background-color: #ffffff;
}


#head #logo1 {
    position: absolute;
    top: 20px;
    left: 50px;
}


#openModal {
    position: relative;
}

#head #logo2 {
    position: absolute;
    top: -45px;
    right: 120px;
}


#head .box {
    position: absolute;
    background-color: #ff7a00;
    width: 120px;
    height: 58px;
    right: 60px;
    top: -50px;
    border-radius: 25px;
}

#head .cart-qty {
    position: absolute;
    display: inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    bottom: -35px;
    left: 1230px;
    font-size: 40px;
}

#head #aTag {
    position: absolute;
    left: 620px;
    top: 50px;
}

#head #aTag a {
    text-decoration: none;
    color: black;
    left: 300px;
    top: 15px;
    margin: 10px;
    font-size: 20px;
    font-family: sans-serif;
}

.textAndImage {
    display: inline;
}

.mainText {
    position: relative;
    color: #ff7a00;
    width: 350px;
    padding: 148px 120px 0 171px;
    font-size: 80px;
    font-weight: bold;
    height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainShop {
    position: absolute;
    left: 800px;
    top: 100px;
    font-size: 30px;
    height: 450px;
}


#shopNow a {
    text-decoration: none;
}

.button {
    background-color: #ff7a00;
    text-align: center;
    margin: auto;
    display: flex;
    width: 400px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.button h1 {
    position: relative;
    color: black;
    text-align: center;
    left: 130px;
    color: white;
    text-decoration: none;
}

.about {
    position: relative;
    background-color: black;
    color: white;
    padding: 40px;
    margin: auto;
    top: 20px;
}

.about h3 {
    text-align: center;
    font-size: 35px;
}

.gadgetsIntro {
    position: relative;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 50px;
}

.productImage::after {
   content: "";
   clear: both;
   display: flex;
   margin-left: 10px;
}

.product {
    float: left;
    width: 25%;
    padding: 45px;
}

.product img {
    padding-right: auto;
    padding-left: 30px;
    width: 300px;
}

.product h1 {
    position: relative;
    text-align: center;
    justify-content: center;
    left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product button {
    position: relative;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: #ff7a00;
    width: 250px;
    left: 60px;
    height: 45px;
    border-radius: 5px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    cursor: pointer;
}


/* .product button:focus {
    background-color: rgb(255, 205, 158);
} */

.container {
    position: relative;
    width: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.text {
    position: absolute;
    top: 0px;
    left: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    white-space: nowrap;
}

.text p{
    position: absolute;
    top: 90px;
    left: 0px;
    font-size: 30px;
    display: block;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.text h1 {
    position: absolute;
    top: 220px;
    left: -55px;
    font-size: 40px;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 300px;
    right: 70px;
    height: 393px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.6 );
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 5px;
}

.container:hover .image {
    opacity: 1;
}

.container:hover .overlay {
    opacity: 1;
}


.footer {
    position: relative;
    background-color: black;
    color: white;
    padding: 40px;
    margin: auto;
    top: 20px;
}

.footer h3 {
    position: absolute;
    left: 900px;
    bottom: 50px;
    margin: auto;
    font-weight: normal;
}

.table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.td {
    width: 130px;
    text-align: left;
    padding: 5px;
    border: 2px;
    font-weight: bold;
}

/* /* modal page  */
.bg-modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6 );
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    position: absolute;
    width: 700px;
    height: 500px;
    background-color: white;
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
}

.table {
    counter-reset: serial;
    border-collapse: separate;
}

tr td:first-child:before {
    counter-increment: serial;
    content: counter(serial);
}

th, td, tr{
    padding: 3px 15px;
    text-align: center;
    font-family: Arial;
}

td button{
    background: #ff7a00;
    border: 1px solid #ff7a00;
    border-radius: 3px;
    color: white;
}

input {
    width: 70%;
    height: 30px;
    display: inline-block;
    margin: 0px auto;
    background-color: #ffe9d6;
}



.amount {
    font-size: 20px;
    left: 200px;
    bottom: 20px;
}

.amount h1 {
    font-size: 40px;
     bottom: 30px;
}

.call-to-action{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    bottom: 5px;
    right: 0;
    /* justify-content: space-around; */
    /* margin-bottom: 0px; */
}

.close {
    margin-right: 5px;
    text-align: center;
    font-size: 20px;
    text-transform: none;
    height: 50px;
    width: 230px;
    border-radius: 5px;
    border: 1px;
    background-color: #ffe9d6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.payment {
    /* margin-left: 440px; */
    font-size: 20px;
    /* margin-bottom: 10px; */
    text-transform: none;
    background-color: #ff7a00;
    height: 50px;
    width: 230px;
    border-radius: 5px;
    border: 1px;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.remove {
    background-color: #f5a056;
    height: 30px;
    border-radius: 5px;
    border: 1px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: none;
}



.itemQuantity button {
    border-radius: 5px;
    border: 1px;
    width: 30px;
    background-color: #ff7a00;
    color: white;
}

/* Summary Modal */
#summaryModal{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6 );
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.summaryContent {
    position: relative;
    display: flex;
    width: 700px;
    height: 500px;
    background-color: white;
    text-align: center;
}

.customerName {
    position: absolute;
    margin-left: 30px;
}

.customerName h3 {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.summaryImg img{
    height: 180px;
}

.summaryImg {
    position: absolute;
    height: 700px;
    width: 60px;
    left: 250px;
    top: 90px;
}

.okay {
    position: absolute;
    left: 500px;
    bottom: 5px;
}

.okay button{
     font-size: 20px;
     text-transform: none;
     background-color: #ff7a00;
     height: 50px;
     width: 200px;
     border-radius: 5px;
     border: 1px;
     color: white;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.summaryTable {
  position: absolute;
  bottom: 150px;
}
.summaryTable h1 {
    justify-content: center;
    margin-left: 290px;
}

.summaryTable table {
    counter-reset: serial;
    border-collapse: separate;
}